/* CSS for First Div Organization */
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 250px;
    height: 100%;
    padding: 12px;
    gap: 10px;
    border-radius: 8px;
    opacity: 1;
    /* Adjust opacity as needed */
    background-color: #FFFDFD;
    border: 2px solid #CCE6FF;
    box-shadow: 4px 4px 10px 4px #E4F2FF;
    cursor: pointer;
}

/* CSS for First Div Organization Name & Ellipses them to 2 lines  */
.organization-name {
    font-size: 20px;
    font-weight: 600 !important;
    color: #161617;
    margin-bottom: 10px;
}

/* CSS for Overall Rating Text */
.overall-rating {
    font-size: 16px;
    font-weight: 500 !important;
    color: #58585D;
}

/* CSS for Overall Rating-Value */
.rating-value {
    font-size: 20px;
    font-weight: 600 !important;
    color: #0678E9;
}

/* CSS for Compare Organization 2nd Div */
.compare-organization-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 250px    !important;
    height: 100%;
    padding: 12px;
    gap: 10px;
    border-radius: 8px;
    background-color: #F7F6F6;
    border: 2px solid #CCE6FF;
    box-shadow: 4px 4px 10px 4px #E4F2FF;
    cursor: pointer;
    opacity: 1;
    /* Adjust opacity as needed */
}

/* CSS for 2nd Div Organization Name & Ellipses them to 2 lines  */
.compare-organization-name {
    font-size: 20px;
    font-weight: 600 !important;
    color: #161617;
    margin-bottom: 10px;
}

/* CSS for Reset Button */
#btnReset {
    font-size: 16px;
    font-weight: 500 !important;
    height: 56px;
    width: 109px;
}

/* CSS for Reset Button Color & text color */
.resetBtnColor {
    background-color: #EEEEEE;
    color: #7C7B7B;
}

/* CSS for Label Heading */
.labelHeading {
    font-size: 16px;
    font-weight: 500 !important;
    color: #161617;
}

/* CSS for the Card Heading i.e Compare Organizations */
.cardHeading {
    font-size: 20px;
    font-weight: 600 !important;
    color: #161617;
}
@media (max-width: 1024px) {

    .compare-organization-container{
        width: 220px    !important;
    }

    .container{
        width: 220px    !important;
    }

}

@media (min-width: 1281px) {

    .compare-organization-container {
        margin-left: 110px  !important;
    }
    .myChange {
        margin-left: 110px  !important;
    }
}

/* Adjusting the dropdown options */
.select2-container .select2-dropdown {
    font-size: 0.9rem;
}

/* Adjust the individual list items (options) */
.select2-container .select2-results__option {
    padding: 4px 8px;

}
/* Adjust the spacing of the selected item */
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 28px;
}
.truncate-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-wrap: break-word;
    white-space: normal;
}
